h1 {
    color: blue;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: initial;
    
}

h3 {
    color: red;
}

p {
    color: green;
}

img {
    width: 200px;
    height: 200px;
}